# Object files
*.o
*.cpp

# Libraries
*.lib
*.h

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Debug folder
Debug/*

# Target folder
target/*

# VSCode folder
.vscode/

.DS_Store
Thumbs.db
db.json
*.log
node_modules/
public/
.deploy*/%*
